<div class="float-left" style="margin-bottom: 5px">
    <a class="btn btn-primary" href="/cls/{{ cls_id }}" role="button">学员信息</a>
    <a class="btn btn-primary" href="/attendance/{{ cls_id }}" role="button">考勤管理</a>
    <a class="btn btn-primary" href="/homework/{{ cls_id }}" role="button">作业管理</a>
    <a class="btn btn-primary" href="/exam/{{ cls_id }}" role="button">考试管理</a>
</div>
<div class="float-right">
    <span style=" background-color: #FFFFFF">查询学员:</span>
    <input name="key" type="text" id="search"  value="" >
</div>
