{% extends base.html %}
{% block title %} 作业提交详情 {% end %}

{% block content %}

{% if finishs %}
<table class="table">
    <tr>
      <th scope="col">作业标题 : {{ finishs[0].homework.title }}</th>
    </tr>
    <tr>
      <th scope="col">作业内容 : {{ finishs[0].homework.content }}</th>
    </tr>
</table>

{% end %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">序号</th>
      <th scope="col">学员名称</th>
      <th scope="col">提交时间</th>
      <th scope="col">作业检查</th>
    </tr>
  </thead>
  <tbody>
  {% for finish in finishs %}
  <th scope="row">{{ finish.id }}</th>
  <td>{{ finish.student.name }}</td>
  <td>{{ finish.submit_time }}</td>
{% end %}
  </tbody>
</table>
{% end %}